extends layout
block content
  section  
    div.streamBox
      image(src='http://135.0.193.151:8554/stream/video.mjpeg').mjpeg
    div.controlWrap
      div.topWrap
        button(id = "up", data-inline="true", data-theme="b") w
      button(id = "left", data-inline="true", data-theme="b") a
      button(id = "down", data-inline="true", data-theme="b") s
      button(id = "right", data-inline="true", data-theme="b") d

    
