html, body{
  width:100%;
  height:100%;
  position:relative;
  background: #2262AD;
}

body{
  
}

section {

  margin: 80px auto 40px;
  max-width: 980px;
  position: relative;
  padding: 20px;


}

/*
  wasd wraps
*/
.controlWrap {
  width: 300px;
  height: 200px;
  position: relative;
  margin: 10px auto 20px;
}

.topWrap {
  width:300;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#up{ 
  margin-left: 36%;
  width: 80px !important;
  height: 80px;
}
#left{
  margin-left: 6%;
  width: 80px !important;
  height: 80px;
}
#down{
  width: 80px !important;
  height: 80px;
}
#right{
  width: 80px !important;
  height: 80px;
}


/*
  Streamming settings for UV4L
*/

.streamBox {
  position:relative;
  max-width:540px;
  height:380px;
  border:10px solid #333;
  margin: auto;
}
.mjpeg {
  width:100%;
  height:100%;
}

/*

a{
  display:block;
  width:100px;
  height:100px;
  background:#222;
  border-radius:5px;
  color:#aaa;a
  text-align:center;
  position:absolute;
  box-shadow: 
    inset 0 0 50px #333, 
    0 4px 0 black, 
    0 2px 0 #222, 
    0 2px 3px #333;
  text-shadow:0 -1px 0 black;
  font: bold 15px/100px arial, sans-serif;
  text-transform:uppercase;
  cursor: pointer;
  border-top:1px solid #222;
}
a.active{
  color:#888;
  background:#222;
  box-shadow:
    inset 0 0 50px #333,
    0 0 3px #333;
  margin-top:4px;
}
*/
h1{
  text-align: center;
}

/*
  Jquery Mobile Css
*/
[data-role=page]{
  height: 100% !important; 
  position:relative !important;
}
[data-role=footer]{
  bottom:0; 
  position:absolute !important; 
  top: auto !important; 
  width:100%;
}



/*
  Page One
*/
.welcomeText {
  margin: 150px auto 10px;

}

#startButton {
  margin: 200px auto 40px;
  display: block;
  width: 200px !important; 
  font-size: 60px;
}



/*MEDIA QUERY*/


/*
  iphone 6 size
*/
@media only screen and (max-width : 600px) {

 .streamBox {
    position:relative;
    height:300px;
    border:10px solid #333;
    margin: auto;
  }


  .controlWrap {
    width: 300px;
    height: 200px;
    position: relative;
    margin: 60px auto 0px;
  }  

  section {

    margin: 0px auto 0px;
    max-width: 980px;
    position: relative;
    padding: 20px;

  }  


}

