html, body{
  width:100%;
  height:100%;
  position:relative;
}

body{
  background:#eee;
}

.controlWrap {
  max-width: 300px;
  max-height: 200px;
  width:100%;
  height:60%;
  position: absolute;
  left: 50%;
  top: 70%;
  margin-top:-70px;
  margin-left:-165px;

}


.ui-btn { 
  width: 80px !important;
  height: 80px
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

video{
  position:absolute;
  top:0;
  left:27%;
  max-width:640px;
  max-height:480px;
  width:100%;
  height:90%;  
  border:10px solid #333;
  left: 50%;
  top: 70%;
  margin-top:-550px;
  margin-left:-330px;
}

iframe{
  position:absolute;
  top:0;
  left:27%;
  max-width:640px;
  max-height:480px;
  width:100%;
  height:90%;  
  border:10px solid #333;
  left: 50%;
  top: 70%;
  margin-top:-550px;
  margin-left:-330px;
  -webkit-transform: rotate(180deg);
}



a{
  display:block;
  width:100px;
  height:100px;
  background:#222;
  border-radius:5px;
  color:#aaa;
  text-align:center;
  position:absolute;
  box-shadow: 
    inset 0 0 50px #333, 
    0 4px 0 black, 
    0 2px 0 #222, 
    0 2px 3px #333;
  text-shadow:0 -1px 0 black;
  font: bold 15px/100px arial, sans-serif;
  text-transform:uppercase;
  cursor: pointer;
  border-top:1px solid #222;
}
a.active{
  color:#888;
  background:#222;
  box-shadow:
    inset 0 0 50px #333,
    0 0 3px #333;
  margin-top:4px;
}

#up{ 
  top: 110px;
  left:130px;
}
#left{
  top:200px;
  right:50px;
}
#down{
  top:200px;
  right:50px;
}
#right{
  left:220px;
  top:104px;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 660px) {
  iframe{
    position:absolute;
    top:0;
    left:27%;
    max-width:403px;
    max-height:300px;
    width:100%;
    height:90%;  
    border:10px solid #333;
    left: 50%;
    top: 70%;
    margin-top:-400px;
    margin-left:-210px;
  }

  video{
    position:absolute;
    top:0;
    left:27%;
    max-width:403px;
    max-height:300px;
    width:100%;
    height:90%;  
    border:10px solid #333;
    left: 50%;
    top: 70%;
    margin-top:-400px;
    margin-left:-210px;
  }  
  .controlWrap {
    max-width: 300px;
    max-height: 200px;
    width:100%;
    height:60%;
    position: absolute;
    left: 50%;
    top: 70%;
    margin-top:-150px;
    margin-left:-165px;

  }
}

